/* Basic color scheme provided by www.canva.com/learn/100-color-combinations/ */
/* Held in CSS variables for easy styling */

:root {

    --blue-sky: #4cb5f5;
    --granite: #b7b8b6;
    --pine: #34575c;
    --fields: #B3C100;
}

/* Global element styling */

body {
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* Navbar styling */

#nav-bar img {
    height: 50px;
    width: 20%;
}

#nav-bar {
    display: flex;
    flex-direction: row;
}

#header {
    border: 5px solid var(--fields);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 3;
    flex-direction: row-reverse;
    margin-right: 5px;
}

#nav-bar a {
    color: var(--granite);
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;    
}

/* Styling for #services */
#services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.card {
    height: 25%;
    width: 25%;
}

.card img {
    max-width: 100%;
    display: block;
    height: auto;
    }